h1{
    color: chocolate;
}
img{
    width: 400px;
    height: 310px;
}
#thirdDiv{
    width: 500px;
    height: 600px;
    background: chocolate;
    padding: 100px;
    border: 5px solid rgb(201, 134, 86);
}
#spanId{
    font-size: 18px;
    margin: 50px;
}